.App{
  text-align: center;
  font-family: 'Monoton', bold;
}
.home{
  background-image: url(https://cdn.lowgif.com/full/0465e1941bc19e45-making-a-game-with-javascript-part-1-hacker-noon.gif);
  width: 100vw;
  height: 100vh;
}
li{
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;

}
.booksList{
border: 1px solid black;
background-color: #90F1EF;
}

.moviesList{
  border: 1px solid black;
  background-color: #FFD6E0;
  }

.songsList{
    border: 1px solid black;
    background-color: #FFEF9F;
    }
.showsList{
    border: 1px solid black;
    background-color: #C1FBA4;
    }
  

img{
  border-radius: 50%;
}

.title{
  padding-top: 50px;
  color: #396b20;
  font-size: 50px;
}

.Form{
  font-size: 25px;
}

#media{
font-size: 20px;
background-color: #90F1EF;
}
.home{
  display: flex;
  flex-flow: column nowrap;
}

nav {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #FFD6E0;

}
.homeIcon{
  margin-right: 50px;
}

.bookForm{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: space-evenly;
  border: 10px double #FFEF9F;
  margin: auto;
  margin-top: 50px;
}

.movieForm{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: space-evenly;
  border: 10px double #FFEF9F;
  margin: auto;
  margin-top: 50px;
}

.showForm{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: space-evenly;
  border: 10px double #FFEF9F;
  margin: auto;
  margin-top: 50px;
}

.songForm{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: space-evenly;
  border: 10px double #FFEF9F;
  margin: auto;
  margin-top: 10px;
}
#bookSubmit{
margin: 20px;
}
#songSubmit{
  margin: 20px;
}
#movieSubmit{
  margin: 20px;
}
#showSubmit{
  margin: 20px;
}

@media (min-width:750px) {
  .booksList{
    font-size: 50px;
  }
  .moviesList{
    font-size: 50px;
  }
  .showsList{
    font-size: 50px;
  }
  .songsList{
    font-size: 50px;
  }
}
@media (min-width:1000px) {
.App{
  width: 50vw;
  height: 50vh;
} 
.home{
  width: 50vw;
  height: 50vh;
}

}